@page "/"
	<div style="display: flex; flex-flow: column;">
		<div style="overflow-y:scroll; overflow-x:hidden;height:100%">
			<div class="grid-container">
				<div class="grid-item bold">Версия</div>
				<div class="grid-item">1.0</div>
				<div class="grid-item bold">Дата выпуска</div>
				<div class="grid-item">11.11.2020 года</div>
				<div class="grid-item bold">Назначение</div>
				<div class="grid-item">Приложение предназначено для проверки автоматизированного рабочего места (АРМ) пользователя, работающего в системе «Электронный бюджет», на соответствие техническим требованиям, предъявляемым операторами подсистем системы «Электронный бюджет».</div>
				<div class="grid-item bold">Инструкции по подключению</div>
				<div class="grid-item"><a href="http://ya.ru" target="_blank">Технологическая инструкция по подключению к подсистеме бюджетного планирования и подсистеме управления национальными проектами государственной интегрированной информационной системы управления общественными финансами «Электронный бюджет» с использованием квалифицированной электронной подписи</a></div>
			</div>
			<div>
				<h2>Перечень параметров, проверяемых приложением</h2>
				<h3>Программное обеспечение АРМ пользователя:</h3>
				<p>Операционная система</p>
			</div>
		</div>
	</div>