<div>
	<NavLink href="/">
		<span class="menu_item">О программе</span>
	</NavLink>
	<NavLink href="counter">
		<span class="menu_item">Проверка программного обеспечения</span>

	</NavLink>
	<NavLink href="fetchdata">
		<span class="menu_item">Проверка формирования электронной подписи</span>
	</NavLink>
	<NavLink href="fetchdata">
		<span class="menu_item">Проверка технического обеспечения</span>
	</NavLink>
	<NavLink href="fetchdata">
		<span class="menu_item">Формирование отчёта</span>
	</NavLink>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
